<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <%static:css group='course'/>
</%block>

<%block name="title"><title>${course.number} Badges</title></%block>

<%!
    from django.core.urlresolvers import reverse
%>

<%! from xmodule.util.date_utils import get_default_time_display %>

<%block name="js_extra">
<script type="text/javascript" src="http://beta.openbadges.org/issuer.js"></script>
</%block>

<script>

$(document).ready(function() {

  var start_info_button = function() {
      $('#badge_info_button').attr('value', '▸ Learn more');
      $('#badge_info').hide();
  };
  start_info_button();

  $('input#badge_export').click(function() {
    OpenBadges.issue(${badge_urls}, function(e,s) {});
  });


  var badge_info_visible = false;
  var flip_info_button = function() {
    if (badge_info_visible) {
      $('#badge_info_button').attr('value', '▸ Learn more');
      $('#badge_info').hide('blind');
    }
    else {
      $('#badge_info_button').attr('value', '▾ Learn more');
      $('#badge_info').show('blind');
    }
    badge_info_visible = !badge_info_visible;
  };
  $('#badge_info_button').click(flip_info_button);


});

</script>

<style>
img.unlockable {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: grayscale( 100% );
            filter: gray;
    -webkit-filter: grayscale( 100% );
       -moz-filter: grayscale( 100% );
         -o-filter: grayscale( 100% );
        -ms-filter: grayscale( 100% );
}
</style>

<%include file="/courseware/course_navigation.html" args="active_page='badges'" />

<section class="container">
  <div class="profile-wrapper">

    <section class="course-info">
      <header>
        <h1>Badges for <i>${course.display_name}</i> (Prototype)</h1>
      </header>
      %if len(unlockable_badgetypes) != 0 or len(earned_badges) != 0:
        <input type="button" id="badge_info_button" value="" style="float:right; width:150px; margin-left:20px" />
        <p>
          If you wish, you can export these badges to <a href="http://beta.openbadges.org/">Mozilla Backpack</a> to share them.
        </p>
        <br />
        <div id="badge_info">
        <hr />
        <input type="button" id="badge_export" value="Export All" style="float:right; width:150px; margin-left:20px; background-color:rgb(29,157,217); color:white; background:rgb(29,157,217); text-shadow:0pt 1px 0pt rgb(7, 103, 148); border:1px solid rgb(13, 114, 162); box-shadow:0pt 1px 0pt 0pt rgb(97, 184, 225) inset;" />
        <p>
        These badges are <a href="http://openbadges.org/">Mozilla Open Badges</a>, which means you can save them in <a href="http://beta.openbadges.org/">Mozilla Backpack</a>, a separate website which stores badges. You can display and share the badges elsewhere on the Internet, along with any badges you collect from other websites.
        <ol>
          <li><p>
            You will be prompted to create a Mozilla Persona account. Make sure to use your <b>${student.email}</b> email address.
          </p></li>
          <li><p>
            Visit <a href="http://beta.openbadges.org/">Mozilla Backpack</a> to view the exported badges.
          </p></li>
          <li><p>
            Use Mozilla Backpack to sort your badges into collections which you can share on other websites.
          </p></li>
        </ol></p>
        </div>
      <ol class="chapters">
        %if len(earned_badges) != 0:
        <li>
          <h2>Earned</h2>
          <ol class="sections">
            %for i in range(len(earned_badges)):
              <%badge = earned_badges[i]%>
              <li>
                <table><tr>
                  <td><img src="${badge['image']}" style="float:left; width:100px; margin-right:20px;" /></td>
                  <td>
                    <h3>${badge['badge']['name']}</h3>
                    <p>
                    <b>${badge['badge']['description']} </b><br />
                      issued on <b>${badge['issued_on']}</b> by
                      <a href="${badge['badge']['issuer']['origin']}">${badge['badge']['issuer']['name']}</a>
                      %if badge['badge'].get('criteria_text', None):
                        <br /><i>${badge['badge']['criteria_text']}</i>
                      %endif
                    </p>
                  </td>
                </tr></table>
              </li>
              %if i != len(earned_badges) - 1:
                <hr />
              %endif
            %endfor
          </ol>
        </li>
        %endif
        %if len(unlockable_badgetypes) != 0:
        <li>
          <h2>Unlockable</h2>
          <ol class="sections">
            %for i in range(len(unlockable_badgetypes)):
              <%badgetype = unlockable_badgetypes[i]%>
              <li>
                <table><tr>
                  <td><img src="${badgetype['image']}" class="unlockable" style="float:left; width:100px; margin-right:20px;" /></td>
                  <td>
                    <p>
                    <i>
                    %if badgetype.get('criteria_text', None):
                        ${badgetype['criteria_text']}
                    %else:

                    %endif
                    </i>
                    </p>
                  </td>
                </tr></table>
              </li>
              %if i != len(unlockable_badgetypes) - 1:
                <hr />
              %endif
            %endfor
          </ol>
        </li>
        %endif
      </ol>
      %else:
       <p>This course does not offer badges.</p>
      %endif

    </section>
  </div>
</section>
